@font-face {
    font-family: 'PT_Serif-Web-Bold';
    src: url('../fonts/PT_Serif-Web-Bold.eot');
    src: local('☺'), url('../fonts/PT_Serif-Web-Bold.woff') format('woff'), url('../fonts/PT_Serif-Web-Bold.ttf') format('truetype'), url('../fonts/PT_Serif-Web-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: local('☺'), url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/MyriadPro-Light.eot');
    src: local('☺'), url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: local('☺'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: 0;
}
div#header {
    background: url('../images/header.jpg') no-repeat;
    width: 100%;
    min-height: 797px;
    background-size: cover;
}
.head_text {
    background: url('../images/header_text.png') no-repeat;
    width: 545px;
    height: 41px;
    margin: 0 auto;
    position: absolute;
    top: 404px;
    bottom: 0;
    left: 0;
    right: 0;
}

#about {
    background: url('../images/about_bg.jpg');
    width: 100%;
    min-height: 547px;
    background-size: cover;
}
#about .right
{
    float: right;
    width: 50%;
    padding: 47px;
}
.line {
    width: 114px;
    border-bottom: 1px solid white;
    margin: 0 auto;
    margin-bottom: 26px;
    margin-top: -6px;
}
#about  h1
{
    font-family: MyriadPro-Bold;
    font-size: 35px;
    color: white;
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 18px;

}
#about  p.paragraph {
    color: #d6d6d6;
    text-align: center;
    line-height: 1.3;
    font-family: MyriadPro-Light;
    font-size:16px;
    padding:10px;
}
#about  button {
    padding: 10px;
    margin: 0 auto;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    display: block;
    margin-top: 40px;
    width: 118px;
}
#about  button:hover {
    border:1px solid white;
    background: white;
    color:black;
}
.backcolor
{
    background: rgba(59, 59, 59, 1);
    width: 100%;
    height: 87px;
    position: fixed;
    z-index: 1;

}
nav {
    height: 87px;
    background: rgba(59, 59, 59, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
nav ul
{
    float: right;
    width: 418px;
    z-index: 2;
    position: relative;
    padding-top: 16px;
}
nav ul li {
    float: left;
    list-style: none;
    padding: 11px 0px 9px 0px;
    font-family: PT_Serif-Web-Bold;
    color: white;
    font-size: 15px;
    width: 72px;
    margin-right: 35px;
    text-decoration: none;
}
nav ul li:hover, li.active
{
    border-bottom: red solid 1px;

}
nav ul li a
{
    color:white;
    text-decoration: none;
}


#portfolio .header {
    background: url('../images/portfolio_header.png') no-repeat;
    height: 118px;
    width: 660px;
    margin: 0 auto;
    margin-bottom: 94px;
}
#portfolio
{
    margin: 0 auto;
    margin-bottom: 162px;
    padding-top: 147px;
    width: 90%;
}
#portfolio img {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.portfolio
{
    position: relative;
}
footer {
    background: #3b3b3b;
    height: 354px;
    color: white;
    text-align: center;
    font-family: MyriadPro-Semibold;
    font-size: 23px;
    padding-top: 75px;
}
footer .back_top {
    background: url('../images/back_top.png');
    width: 159px;
    height: 81px;
    margin: 0 auto;
    margin-bottom: 57px;
}

footer .col1 {
    width: 33%;
    float: left;
    padding-top: 41px;
    font-size: 23px;
    color: #aeaeae;

}
footer .col2 {
    width: 33%;float: left;
}
footer .col2 p
{
    font-size: 30px;
}
footer .col3 {
    width: 33%;float: left;
}
.slider_holder {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
div#slider {
    width: 9999px;
    height: 322px;
    overflow: hidden;
    position: relative;
    left: 0;

}
.slider {
    float: left;
    width: 90%;
}
.placeholder {
    width: 403px;
    height: 306px;
    display: inline-block;
    border: 8px solid black;
    margin: 0 auto;
    margin-right: 50px;
}

.description {
    width: 322px;
    height: 322px;
    display: inline-block;
    font-family: MyriadPro-Regular;
    font-size: 13px;
    color: #737373;
    vertical-align: text-bottom;
}
.description h2{
    font-family: MyriadPro-Semibold;
    font-size: 23px;
    color:black;
}
.left_slide {
    background: url('../images/left_slider.png');
    height: 54px;
    width: 45px;
    position: absolute;
    left: -5%;
    top: 136px;
}

.right_slide {
    background: url('../images/right_slider.png');
    height: 54px;
    width: 45px;
    position: absolute;
    right: -5%;
    top: 136px;

}

