@font-face {
    font-family: 'PT_Serif-Web-Bold';
    src: url('../fonts/pt_srif-web-bold.eot');
    src: local('☺'), url('../fonts/pt_srif-web-bold.woff') format('woff'), url('../fonts/pt_srif-web-bold.ttf') format('truetype'), url('../fonts/pt_srif-web-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/myriadpro-bold.eot');
    src: local('☺'), url('../fonts/myriadpro-bold.woff') format('woff'), url('../fonts/myriadpro-bold.ttf') format('truetype'), url('../fonts/myriadpro-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/myriadpro-light.eot');
    src: local('☺'), url('../fonts/myriadpro-light.woff') format('woff'), url('../fonts/myriadpro-light.ttf') format('truetype'), url('../fonts/myriadpro-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriadpro-regular.eot');
    src: local('☺'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype'), url('../fonts/myriadpro-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/myriadpro-memibold.woff.eot');
    src: local('☺'), url('../fonts/myriadpro-memibold.woff') format('woff'), url('../fonts/myriadpro-memibold.woff.ttf') format('truetype'), url('../fonts/myriadpro-memibold.woff.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

div#header {
    background: url('../images/header.jpg') no-repeat;
    width: 100%;
    min-height: 797px;
    background-size: cover;
}

.head_text {
    background: url('../images/logo.png') no-repeat;
    width: 545px;
    margin: 0 auto;
    position: absolute;
    top: 404px;
    bottom: 0;
    left: 0;
    right: 0;
}

#about {
    background: url('../images/about_bg.jpg');
    width: 100%;
    min-height: 547px;
    background-size: cover;
    background-position: right;
}

#about .right {
    float: right;
    width: 50%;
    padding: 47px;
}

.line {
    width: 114px;
    border-bottom: 1px solid white;
    margin: 0 auto;
    margin-bottom: 26px;
    margin-top: -6px;
}

#about h1 {
    font-family: MyriadPro-Bold;
    font-size: 35px;
    color: white;
    text-align: center;
    letter-spacing: 20px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 18px;

}

#about p.paragraph {
    color: #d6d6d6;
    text-align: center;
    line-height: 1.3;
    font-family: MyriadPro-Light;
    font-size: 16px;
    padding: 10px;
}

#about button {
    padding: 10px;
    margin: 0 auto;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
    display: block;
    margin-top: 40px;
    width: 118px;
}

#about button:hover {
    border: 1px solid white;
    background: white;
    color: black;
}

.backcolor {
    background: rgba(59, 59, 59, 1);
    width: 100%;
    height: 87px;
    position: fixed;
    z-index: 1;

}

nav {
    height: 87px;
    background: rgba(59, 59, 59, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

nav ul {
    float: right;
    width: 418px;
    z-index: 2;
    position: relative;
    padding-top: 16px;
}

nav ul li {
    float: left;
    list-style: none;
    padding: 11px 0px 9px 0px;
    font-family: PT_Serif-Web-Bold;
    color: white;
    font-size: 15px;
    width: 72px;
    margin-right: 35px;
    text-decoration: none;
}

nav ul li:hover, li.active {
    border-bottom: red solid 1px;

}

nav ul li a {
    color: white;
    text-decoration: none;
}

#portfolio .header {
    background: url('../images/portfolio_header.png') no-repeat;
    height: 118px;
    width: 660px;
    margin: 0 auto;
    margin-bottom: 94px;
}

#portfolio {
    margin: 0 auto;
    margin-bottom: 162px;
    padding-top: 147px;
    width: 90%;
}

#portfolio a.col-sm-4 {
    margin-bottom: 28px;
}

#portfolio img {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.portfolio {
    position: relative;
}

footer {
    background: #3b3b3b;
    color: white;
    text-align: center;
    font-family: MyriadPro-Semibold;
    font-size: 23px;
    padding-top: 75px;
    padding-bottom: 35px;
}

footer a {
    text-decoration: none;
    border: none;
    color: white;
}

footer .back_top {
    background: url('../images/back_top.png') no-repeat;
    width: 159px;
    height: 81px;
    margin: 0 auto;
    margin-bottom: 71px;
}

footer .col1 {
    width: 33%;
    float: left;
    padding-top: 41px;
    font-size: 23px;
    color: #aeaeae;

}

footer .col2 {
    width: 33%;
    float: left;
}

footer .mobile_1 {
    font-size: 15px;
    color: #aeaeae;
    margin-top: 45px;
    font-family: MyriadPro-Semibold;
}

footer .mobile_2 {
    font-size: 24px;
    font-family: MyriadPro-Semibold;
}

footer .mobile_2 a {
    font-size: 19px;
    font-family: MyriadPro-Semibold;
}

footer .mobile_3 {
    margin-top: 31px;
    font-family: MyriadPro-Semibold;
}

footer .col2 p {
    font-size: 30px;
}

footer .col3 {
    width: 33%;
    float: left;
}

.slider_holder {
    width: 894px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

div#slider {
    width: 9999px;
    height: 322px;
    overflow: hidden;
    position: relative;
    left: 0;

}

.slider {
    float: left;
}

.placeholder {
    width: 403px;
    height: 306px;
    display: inline-block;
    border: 8px solid black;
    margin: 0 auto;
    margin-right: 100px;
}

.description {
    width: 322px;
    height: 322px;
    display: inline-block;
    font-family: MyriadPro-Regular;
    font-size: 13px;
    color: #737373;
    vertical-align: text-bottom;
    margin-right: 50px;
}

.description h2 {
    font-family: MyriadPro-Semibold;
    font-size: 23px;
    color: black;
}

.left_slide {
    background: url('../images/left_slider.png') no-repeat;
    height: 54px;
    width: 45px;
    position: absolute;
    left: -5%;
    top: 136px;
    background-size: 31px;
}

.right_slide {
    background: url('../images/right_slider.png') no-repeat;
    height: 54px;
    width: 45px;
    position: absolute;
    right: -5%;
    top: 136px;
    background-size: 31px;
}

.mobile_menu {
    display: none;
}

@media (max-width: 991px) {
    .placeholder {
        display: block;
        margin: 0 auto;
        margin-bottom: 23px;
    }

    .slider_holder {
        width: 419px;
    }

    div#slider {
        height: auto;
    }

    .description {
        display: block;
        margin: 0 auto;
        height: auto;
    }
}

@media (max-width: 799px) {
    .unit-s-1 {
        position: relative;
    }

    .mobile_2 {
        top: -60px;
    }

    .mobile_1 {
        top: 113px;
    }

    .mobile_3 {
        top: -50px;
    }
}

@media (max-width: 580px) {
    div#header {
        min-height: 350px;
    }

    .left_slide {

        left: -10px;
        top: 140px;
    }

    .right_slide {
        right: -10px;
        top: 140px;
    }

    .head_text {

        width: 90%;
        top: 144px;
        background-size: contain;
    }

    #portfolio .header {
        width: 90%;

        background-size: contain;
    }

    nav ul li {
        float: none;

    }

    nav ul {

        width: auto;
    }

    .mobile_menu {
        display: block;
        background: black url('../images/mobile_menu.png') no-repeat;
        width: 64px;
        height: 47px;
        position: fixed;
        right: 0;
        z-index: 999;
    }

    .backcolor {
        height: 167px;
    }

    nav {
        display: none;
    }

    .menu_show {
        display: block;
        width: 140px;
        position: fixed;
        right: 0;
        top: 52px;
        height: 167px;
    }
}

@media (max-width: 460px) {
    .right_slide, .left_slide {
        top: 71px;
    }

    #portfolio img, .description {
        width: 225px;
        margin-left: 0;
        margin: 0 auto;
    }

    .placeholder {
        border: 8px solid transparent;
        height: auto;
    }

    .slider_holder {
        width: 225px;
    }
}

@media (max-width: 319px) {
    #about h1 {
        font-size: 20px;
    }

    .unit-s-1 {
        display: block;
        visibility: visible;
        width: 100%;
        font-size: 17px;
    }
}